.comp-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;

}

/*.comp-wrapper-element {
    margin-left: 450px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}*/
body {
    margin: 0;
    overflow-x: hidden;
}

.comp-wrapper-element {
    border: 1px solid rgba(210, 210, 217, 0.2);
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 40px rgba(210, 210, 217, 0.1);
    padding: 20px 40px;

}


.home-nav {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.home-nav button {
    align-self: center;
    margin-top: 20px;
}

.welcome-user {
    margin-top: 30px;
    font-size: 18px;
    text-decoration: none;
    margin-left: auto;
}
